<div class="login-container">
    <div class="login-card">
      <div class="login-header">
        <img src="../../assets/images/looo.jpg" alt="Logo" class="logo" id="logo-image">
    </div>
      <div class="login-content">
        <form>
          <input type="text" placeholder="Nom d'utilisateur">
          <input type="password" placeholder="Mot de passe">
          <button> {{connectButtonText}}</button>
        </form>
      </div>
      <div class="login-footer">
        <a href="#">{{forgotPasswordText}}</a>
        <a href="#">{{createAccountText}}</a>
      </div>
    </div>
  </div>
  