.user-container {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    background-color: white;
    border: 1px solid #86bc24;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #1D1D1B; /* Noir */
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #1D1D1B; /* Noir */
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #86bc24;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #86bc24; /* Vert Deloitte */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background-color: #86bc24;
  }
  
  @media (max-width: 768px) {
    .teletravail-container {
      padding: 10px;
    }
  
    .form-group input {
      padding: 8px;
    }
  
    button {
      padding: 8px;
      font-size: 14px;
    }
  }
  .tableau {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.btn:hover {
  background-color: #86bc24; /* Darker green */
  border-color: #86bc24; /* Darker green */
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #495057;
}

/* General table styles */
.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table-bordered {
  border: 1px solid #dee2e6;
  border-collapse: collapse;
}

/* Table header styles */
.table-bordered th {
  background-color: #343a40; /* Black */
  color: #ffffff; /* White */
  border: 1px solid #86bc24;
  padding: 8px;
  text-align: left;
}

.table-bordered td {
  border: 1px solid #86bc24;
  padding: 8px;
}

.table-bordered tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-bordered tbody tr:hover {
  background-color: #e9ecef;
}

@media (max-width: 768px) {
  .table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.btn {
    padding: 5px 10px;
  margin-right: 5px; /* Espace entre les boutons */
  border: none;
  cursor: pointer;
  display: inline-block;
  background-color: #86bc24; /* Green */
  border-color: #86bc24; /* Green */
  color: #ffffff; /* White */
}
.btn-primary {
    background-color: #86bc24;
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #86bc24;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: white;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }
  .table td button {
    margin: 0px;
  }