h1 {
    color: #333;
  }
  
  mat-dialog-content p {
    margin: 5px 0;
    font-size: 0.95em;
    color: #666;
  }
  
  mat-dialog-content ul {
    margin: 0;
    padding-left: 20px;
  }
  
  mat-dialog-content ul li {
    list-style-type: disc;
    margin: 5px 0;
    font-size: 0.95em;
    color: #666;
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
  }
  