<!-- src/app/shared/components/profile/profile.component.html -->
<div class="profile-container">
    <h1>User Profile</h1>
    <div class="profile-info">
      <div class="info-group">
        <label for="firstName">First Name:</label>
        <div class="value">{{ user?.firstName }}</div>
      </div>
      <div class="info-group">
        <label for="lastName">Last Name:</label>
        <div class="value">{{ user?.lastName }}</div>
      </div>
      <div class="info-group">
        <label for="email">Email:</label>
        <div class="value">{{ user?.email }}</div>
      </div>
    </div>
  </div>
  