<div class="container">
  <div class="task-board">
    <div class="column">
      <h2>To Do</h2>
      <div
        class="task-list"
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList,progressList]"
        (cdkDropListDropped)="drop($event)"
        class="example-list"
      >
        <div *ngFor="let item of todo" cdkDrag class="task">
          {{ item }}
        </div>
      </div>
    </div>
    <div class="column">
      <h2>In Progress</h2>
      <div
        class="task-list"
        cdkDropList
        #progressList="cdkDropList"
        [cdkDropListData]="progress"
        [cdkDropListConnectedTo]="[todoList,doneList]"
        (cdkDropListDropped)="drop($event)"
        class="example-list"
      >
        <div *ngFor="let item of progress" cdkDrag class="task">
          {{ item }}
        </div>
      </div>
    </div>
    <div class="column">
      <h2>Done</h2>
      <div
        class="task-list"
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList,progressList]"
        (cdkDropListDropped)="drop($event)"
        class="example-list"
      >
        <div *ngFor="let item of done" cdkDrag class="task">
          {{ item }}
        </div>
      </div>
    </div>
  </div>
</div>
